# Ignore etcd data directories
data.etcd*
da/

# Ignore log files
*.log

# Ignore compiled Go plugins and binaries
*.so
mrm-cell

# Ignore old/temporary shell scripts and docs if you don't need them
README_OLD.md
startup.sh
run_deploy_*.sh

# Ignore OS-specific files
.DS_Store
user_deploy_key
user_deploy_key.pub
user_a_deploy_key
user_a_deploy_key.pub